## eBay Classifieds Data Cleaning & Analysis
In this project we wil be looking at for-sale cars data collected from the German Ebay. We will be using various data cleaning techniques to then make inghighful obeservations about the price, make, and odometer of the cars.

### Step 1: Data Read-In & Exploration

In [97]:
import pandas as pd
import numpy as np

In [98]:
autos = pd.read_csv('autos.csv', encoding='latin1')

In [99]:
print(autos.head())
autos.info()

           dateCrawled                                               name  \
0  2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1  2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2  2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3  2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4  2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...

   seller offerType   price   abtest vehicleType  yearOfRegistration  \
0  privat   Angebot  $5,000  control         bus                2004
1  privat   Angebot  $8,500  control   limousine                1997
2  privat   Angebot  $8,990     test   limousine                2009
3  privat   Angebot  $4,350  control  kleinwagen                2007
4  privat   Angebot  $1,350     test       kombi                2003

     gearbox  powerPS   model   odometer  monthOfRegistration fuelType  \
0    manuell      158  andere  150,000km                    3      lpg
1  automatik      286     7er  150,000km                    6   benzin
2    manuell      102    golf   70,000km                    7   benzin
3  automatik       71  fortwo   70,000km                    6   benzin
4    manuell        0   focus  150,000km                    7   benzin

        brand notRepairedDamage          dateCreated  nrOfPictures  \
0     peugeot              nein  2016-03-26 00:00:00             0
1         bmw              nein  2016-04-04 00:00:00             0
2  volkswagen              nein  2016-03-26 00:00:00             0
3       smart              nein  2016-03-12 00:00:00             0
4        ford              nein  2016-04-01 00:00:00             0

   postalCode             lastSeen
0       79588  2016-04-06 06:45:54
1       71034  2016-04-06 14:45:08
2       35394  2016-04-06 20:15:37
3       33729  2016-03-15 03:16:28
4       39218  2016-04-01 14:38:50
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

>We can see that the name column will need ot be cleaned of extraneous characters to be better understood. Using info(), we can see that there are no columns with > 20% NaN values. However, we should explore columns which have a large percent of non-unique values.

### Step 2: Data Cleaning

In [100]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [101]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'powerPS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']

>Changed the values in the autos.columns array to be snakecase, the prefered naming convention in Python.

In [102]:
autos.describe(include = 'all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-09 11:54:38,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

>From the dataframe, we conclude that the odometerand price columns are stored as strings which we will need to convert to int values. Aditionally, there are columns such as "seller" and "offer_type" that can be removed since almost all entries are the same.

In [103]:
autos = autos.drop("seller", axis=1).drop("offer_type", axis=1)

> Dropped columns where > 90% of the values are the same.

In [104]:
autos["price"] = autos["price"].str.replace("$","").str.replace(",","").astype(float)

In [105]:
autos["odometer"] = autos["odometer"].str.replace("km","").str.replace(",","").astype(float)   
autos.rename({'odometer': 'odometer_km'}, axis=1, inplace=True)

> Converted "price" and "odometer" columns to float types. Also, renamed "odometer" to identify measurement system.

In [106]:
odo_vals = autos["odometer_km"]
print(odo_vals.unique().shape)
print(odo_vals.describe())
odo_vals.value_counts()

(13,)
count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

150000.0    32424
125000.0     5170
100000.0     2169
90000.0      1757
80000.0      1436
70000.0      1230
60000.0      1164
50000.0      1027
5000.0        967
40000.0       819
30000.0       789
20000.0       784
10000.0       264
Name: odometer_km, dtype: int64

> There are no obvious outlier values to be removed from odo_vals since all values appear to meaningful

In [107]:
pr = autos["price"]
pr_5 = autos["price"] < 60000
print(pr.describe())
print(pr.value_counts().sort_index(ascending=False))
print(pr_5.value_counts())

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64
99999999.0       1
27322222.0       1
12345678.0       3
11111111.0       2
10000000.0       1
3890000.0        1
1300000.0        1
1234566.0        1
999999.0         2
999990.0         1
350000.0         1
345000.0         1
299000.0         1
295000.0         1
265000.0         1
259000.0         1
250000.0         1
220000.0         1
198000.0         1
197000.0         1
194000.0         1
190000.0         1
180000.0         1
175000.0         1
169999.0         1
169000.0         1
163991.0         1
163500.0         1
155000.0         1
151990.0         1
              ...
66.0             1
65.0             5
60.0             9
59.0             1
55.0             2
50.0            49
49.0             4
47.0             1
45.0             4
40.0             6
35.0             1
30.0             7
29.0             1
25.0             5
20.0             4
18.0             1
17.0             3
15.0             2
14.0             1
13.0             2
12.0             3
11.0             2
10.0             7
9.0              1
8.0              1
5.0              2
3.0              1
2.0              3
1.0            156
0.0           1421
Name: price, Length: 2357, dtype: int64
True     49861
False      139
Name: price, dtype: int64

In [108]:
autos = autos[autos['price'].between(100, 100001)]

>The price column has around 2,000 distinct values. We removed any prices that were unrealistically high i.e. anything above 100,000. We can also remove any entries below 100 since anything below is likely not reflective of the actual cost.

In [109]:
autos.describe()

,price,registration_year,powerPS,odometer_km,registration_month,nr_of_pictures,postal_code
count,48185.000000,48185.000000,48185.000000,48185.000000,48185.000000,48185.0,48185.000000
mean,5796.099741,2004.730456,117.466328,125986.717858,5.802096,0.0,50981.043976
std,7525.532405,87.932039,201.096878,39467.457150,3.677562,0.0,25737.305695
min,100.000000,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1250.000000,1999.000000,73.000000,125000.000000,3.000000,0.0,30659.000000
50%,3000.000000,2004.000000,107.000000,150000.000000,6.000000,0.0,49716.000000
75%,7499.000000,2008.000000,150.000000,150000.000000,9.000000,0.0,71665.000000
max,99900.000000,9999.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

> After removing outlier values, we can better understand the prices. The average cost now seems to be around 5,000.

#### Observations about date ranges:

In [110]:
print(autos["date_crawled"].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=False))

2016-04-07    0.001390
2016-04-06    0.003175
2016-04-05    0.013054
2016-04-04    0.036567
2016-04-03    0.038601
2016-04-02    0.035633
2016-04-01    0.033662
2016-03-31    0.031856
2016-03-30    0.033703
2016-03-29    0.034139
2016-03-28    0.034949
2016-03-27    0.031109
2016-03-26    0.032292
2016-03-25    0.031504
2016-03-24    0.029449
2016-03-23    0.032292
2016-03-22    0.032811
2016-03-21    0.037190
2016-03-20    0.037813
2016-03-19    0.034762
2016-03-18    0.012867
2016-03-17    0.031504
2016-03-16    0.029470
2016-03-15    0.034305
2016-03-14    0.036692
2016-03-13    0.015690
2016-03-12    0.036920
2016-03-11    0.032624
2016-03-10    0.032313
2016-03-09    0.033019
2016-03-08    0.033164
2016-03-07    0.036090
2016-03-06    0.014050
2016-03-05    0.025340
Name: date_crawled, dtype: float64

In [111]:
print(autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=False))

2016-04-07    0.001245
2016-04-06    0.003258
2016-04-05    0.011788
2016-04-04    0.036920
2016-04-03    0.038850
2016-04-02    0.035322
2016-04-01    0.033641
2016-03-31    0.031898
2016-03-30    0.033537
2016-03-29    0.034077
2016-03-28    0.035052
2016-03-27    0.031026
2016-03-26    0.032354
2016-03-25    0.031628
2016-03-24    0.029387
2016-03-23    0.032126
2016-03-22    0.032624
2016-03-21    0.037418
2016-03-20    0.037875
2016-03-19    0.033641
2016-03-18    0.013573
2016-03-17    0.031151
2016-03-16    0.029968
2016-03-15    0.034035
2016-03-14    0.035322
2016-03-13    0.017059
2016-03-12    0.036754
2016-03-11    0.032936
2016-03-10    0.032022
2016-03-09    0.033122
                ...
2016-02-21    0.000062
2016-02-20    0.000042
2016-02-19    0.000062
2016-02-18    0.000042
2016-02-17    0.000021
2016-02-16    0.000021
2016-02-14    0.000042
2016-02-12    0.000042
2016-02-11    0.000021
2016-02-09    0.000021
2016-02-08    0.000021
2016-02-07    0.000021
2016-02-05    0.000042
2016-02-02    0.000042
2016-02-01    0.000021
2016-01-29    0.000021
2016-01-27    0.000062
2016-01-22    0.000021
2016-01-16    0.000021
2016-01-14    0.000021
2016-01-13    0.000021
2016-01-10    0.000042
2016-01-07    0.000021
2016-01-03    0.000021
2015-12-30    0.000021
2015-12-05    0.000021
2015-11-10    0.000021
2015-09-09    0.000021
2015-08-10    0.000021
2015-06-11    0.000021
Name: ad_created, Length: 76, dtype: float64

In [112]:
print(autos["last_seen"].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=False))

2016-04-07    0.132137
2016-04-06    0.221999
2016-04-05    0.124935
2016-04-04    0.024551
2016-04-03    0.025132
2016-04-02    0.024883
2016-04-01    0.022870
2016-03-31    0.023846
2016-03-30    0.024717
2016-03-29    0.022310
2016-03-28    0.020836
2016-03-27    0.015544
2016-03-26    0.016623
2016-03-25    0.019114
2016-03-24    0.019736
2016-03-23    0.018574
2016-03-22    0.021376
2016-03-21    0.020546
2016-03-20    0.020650
2016-03-19    0.015773
2016-03-18    0.007305
2016-03-17    0.028121
2016-03-16    0.016437
2016-03-15    0.015876
2016-03-14    0.012639
2016-03-13    0.008882
2016-03-12    0.023804
2016-03-11    0.012411
2016-03-10    0.010646
2016-03-09    0.009567
2016-03-08    0.007326
2016-03-07    0.005437
2016-03-06    0.004317
2016-03-05    0.001079
Name: last_seen, dtype: float64

> We can see that "date_crawled" and "last_seen" have a smaller date range since they describe more recent occurences. In contrast, "ad_created" has a much larger range.

In [113]:
print(autos["registration_year"].describe())
autos["registration_year"].value_counts().sort_index(ascending=False).head(20)

count    48185.000000
mean      2004.730456
std         87.932039
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

9999       3
9000       1
8888       1
6200       1
5911       1
5000       3
4800       1
4500       1
4100       1
2800       1
2019       2
2018     468
2017    1383
2016    1196
2015     376
2014     660
2013     797
2012    1305
2011    1617
2010    1583
Name: registration_year, dtype: int64

> The registration year column has some outlier values (> 2020) which we will need to investigate.

In [114]:
aut1 = autos["registration_year"] < 1990
aut2 = autos["registration_year"] > 2016
print(aut1.value_counts().sort_index(ascending=False))
aut2.value_counts().sort_index(ascending=False)

True      1276
False    46909
Name: registration_year, dtype: int64

True      1867
False    46318
Name: registration_year, dtype: int64

> Since there are very few values outside of the range 1990-2016, it is safe for our analysis to continue within this range.

In [115]:
autos = autos[autos["registration_year"].between(1990, 2017)]
autos["registration_year"].value_counts(normalize=True)

2000    0.066839
2005    0.062703
1999    0.062014
2004    0.058137
2003    0.058008
2006    0.057469
2001    0.056607
2002    0.053355
1998    0.050339
2007    0.048939
2008    0.047561
2009    0.044803
1997    0.041443
2011    0.034830
2010    0.034098
2017    0.029790
1996    0.029187
2012    0.028110
2016    0.025762
1995    0.025676
2013    0.017167
2014    0.014216
1994    0.013484
1993    0.009047
2015    0.008099
1992    0.007884
1991    0.007281
1990    0.007151
Name: registration_year, dtype: float64

>Within this range, the percentage values are more significant and will give us an ccurate depiction of the registration years.

#### Aggregation for "brand" column:

In [116]:

autos['brand'].value_counts(normalize=True).sort_values(ascending=False)

volkswagen        0.212579
bmw               0.110005
opel              0.109273
mercedes_benz     0.093463
audi              0.087668
ford              0.069919
renault           0.048638
peugeot           0.030415
fiat              0.025827
seat              0.019128
skoda             0.016521
nissan            0.015617
mazda             0.015617
smart             0.014733
citroen           0.014173
toyota            0.012903
hyundai           0.010253
mini              0.008896
volvo             0.008875
mitsubishi        0.008293
honda             0.007948
kia               0.007324
sonstige_autos    0.006634
alfa_romeo        0.006419
suzuki            0.005988
chevrolet         0.005105
porsche           0.004739
chrysler          0.003511
dacia             0.002757
daihatsu          0.002542
jeep              0.002219
land_rover        0.002046
subaru            0.002046
daewoo            0.001594
saab              0.001594
jaguar            0.001465
rover             0.001400
lancia            0.001099
lada              0.000474
trabant           0.000302
Name: brand, dtype: float64

In [117]:
brands = autos['brand'].value_counts(normalize=True).sort_values(ascending=False)[0:20].index
price_by_brand = {}

for brand in brands:
    price_mean = autos.loc[autos['brand'] == brand, 'price'].mean()
    price_by_brand[brand] = price_mean
    
price_by_brand

{'audi': 9324.986732186731,
 'bmw': 8227.933033091835,
 'citroen': 3658.6854103343467,
 'fiat': 2707.7714762301916,
 'ford': 3464.3006777572396,
 'hyundai': 5402.913865546218,
 'mazda': 4100.328275862069,
 'mercedes_benz': 8437.830145194745,
 'mini': 10616.142857142857,
 'mitsubishi': 3428.2077922077924,
 'nissan': 4705.1406896551725,
 'opel': 2961.440567711413,
 'peugeot': 3085.2634560906517,
 'renault': 2409.066873339238,
 'seat': 4388.873873873874,
 'skoda': 6407.966101694915,
 'smart': 3550.3055555555557,
 'toyota': 5151.639398998331,
 'volkswagen': 5379.343702502786,
 'volvo': 4843.0}

> Chose to aggregate by the top 20 values in the column to gain price insights about the more popoular brands.

In [118]:
mileage_by_brand = {}

for brand in brands:
    mileage_mean = autos.loc[autos['brand'] == brand, 'odometer_km'].mean()
    mileage_by_brand[brand] = mileage_mean
    
mileage_by_brand

{'audi': 129379.60687960689,
 'bmw': 132944.97748188762,
 'citroen': 120562.31003039514,
 'fiat': 118356.96413678065,
 'ford': 125275.72396796057,
 'hyundai': 107058.82352941176,
 'mazda': 124841.37931034483,
 'mercedes_benz': 131274.48720903433,
 'mini': 89261.50121065375,
 'mitsubishi': 127207.79220779221,
 'nissan': 118496.55172413793,
 'opel': 130012.81293120442,
 'peugeot': 127330.0283286119,
 'renault': 128523.02922940656,
 'seat': 122015.76576576577,
 'skoda': 111355.93220338984,
 'smart': 100562.86549707603,
 'toyota': 116227.0450751252,
 'volkswagen': 129409.2613233357,
 'volvo': 139890.7766990291}

> Now, look into the mean mileage values for each of the top 20 brands.

#### Creating a summary Dataframe:

In [119]:

mean_price = pd.Series(price_by_brand)
mean_mileage = pd.Series(mileage_by_brand)

brand_df = pd.DataFrame({'mean_price': mean_price, 'mean_mileage': mean_mileage})

brand_df

                mean_mileage    mean_price
audi           129379.606880   9324.986732
bmw            132944.977482   8227.933033
citroen        120562.310030   3658.685410
fiat           118356.964137   2707.771476
ford           125275.723968   3464.300678
hyundai        107058.823529   5402.913866
mazda          124841.379310   4100.328276
mercedes_benz  131274.487209   8437.830145
mini            89261.501211  10616.142857
mitsubishi     127207.792208   3428.207792
nissan         118496.551724   4705.140690
opel           130012.812931   2961.440568
peugeot        127330.028329   3085.263456
renault        128523.029229   2409.066873
seat           122015.765766   4388.873874
skoda          111355.932203   6407.966102
smart          100562.865497   3550.305556
toyota         116227.045075   5151.639399
volkswagen     129409.261323   5379.343703
volvo          139890.776699   4843.000000

> Converted both mean_price and mean_mileage to series to make a dataframe from which we can easily visually compare our findings.